{% extends "layout.njk" %}

{% block head %}
    <title>Sobre - Desafio 3-1</title>
{% endblock %}


{% block content %}

<div id="caixa1">
    <img src="https://rocketseat.gallerycdn.vsassets.io/extensions/rocketseat/rocketseatreactjs/3.0.2/1588456824702/Microsoft.VisualStudio.Services.Icons.Default"
        alt="Logo Rocketseat">
    <h2>Rocketseat</h2> <br>
    <p>"Mais do que uma plataforma de educação em tecnologia, somos uma comunidade incrível de programadores em busca do
        próximo nível 🚀"</p>
</div>

<div id="caixa2">
    <h2>Tecnologias utilizadas:</h2>
    <ul>
        <li> CSS </li>
        <li> HTML </li>
        <li> JS </li>
    </ul>
</div>

<div id="links-redes" class="links">
    <a href="https://github.com/Rocketseat" target="_blank">Github</a>
    <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
    <a href="https://www.facebook.com/rocketseat" target="_blank">Facebook</a>
</div>

{% endblock %}