{% extends "layout.njk" %}

{% block head %}

    <title>Conteúdos - Desafio 3-1</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block content %}

<div id="caixa1">
    <h2>Blog da Rocketseat</h2> <br>
</div>

<section class="cards">

    <div class="card" id="5-ferramentas-em-alta-react">

        <div class="card__img-container">
            <img src="https://blog.rocketseat.com.br/content/images/size/w2000/2019/03/5_ferramentas_em_alta_para_desenvolvedores_React.png"
                alt="5 ferramentas">
        </div>

        <div class="card_post-title">
            <p>5 ferramentas em alta para desenvolvedores React</p>
        </div>

        <div class="card_post-authorAndTime">
            <p class="author">Diego Fernandes</p>
            <p class="timeReading">5 min</p>
        </div>

    </div>

    <div class="card" id="melhores-sites-para-baixar-imagens-gratuitas-e-outros-recursos">

        <div class="card__img-container">
            <img src="https://blog.rocketseat.com.br/content/images/size/w2000/2020/07/melhores-sites-para-baixar-imagens-gratuitas-e-outros-recursos-preview.png"
                alt="Sites para imgs">
        </div>

        <div class="card_post-title">
            <p>Melhores sites para baixar imagens gratuitas e outros recursos</p>
        </div>

        <div class="card_post-authorAndTime">
            <p class="author">Thiago Marinho</p>
            <p class="timeReading">4 min</p>
        </div>

    </div>

    <div class="card" id="como-fazer-um-bom-readme">

        <div class="card__img-container">
            <img src="https://blog.rocketseat.com.br/content/images/size/w1000/2020/07/como-fazer-um-bom-readme-preview.png"
                alt="README">
        </div>

        <div class="card_post-title">
            <p>Como fazer um bom README</p>
        </div>

        <div class="card_post-authorAndTime">
            <p class="author">Thiago Marinho</p>
            <p class="timeReading">11 min</p>
        </div>

    </div>

    <div class="card" id="o-que-e-readme-e-porque-e-tao-importante">

        <div class="card__img-container">
            <img src="https://blog.rocketseat.com.br/content/images/size/w1000/2020/07/o-que-e-readme.png"
                alt="README 2">
        </div>

        <div class="card_post-title">
            <p>O que é README e por que é tão importante</p>
        </div>

        <div class="card_post-authorAndTime">
            <p class="author">Thiago Marinho</p>
            <p class="timeReading">4 min</p>
        </div>

    </div>

    <div class="card" id="5-dicas-para-uma-carreira-solida-como-programador-a">

        <div class="card__img-container">
            <img src="https://blog.rocketseat.com.br/content/images/size/w1000/2020/06/dicas-carreira-solida-programador-rocketseat.png"
                alt="5 Dicas">
        </div>

        <div class="card_post-title">
            <p>5 dicas para uma carreira sólida como programador(a)</p>
        </div>

        <div class="card_post-authorAndTime">
            <p class="author">Thiago Marinho</p>
            <p class="timeReading">3 min</p>
        </div>

    </div>

    <div class="card" id="typescript-vantagens-mitos-conceitos">

        <div class="card__img-container">
            <img src="https://blog.rocketseat.com.br/content/images/size/w1000/2019/03/TypeScript_Vantagens_mitos_e_aplicacoes.png"
                alt="TypeScript">
        </div>

        <div class="card_post-title">
            <p>TypeScript: Vantagens, mitos, dicas e conceitos fundamentais</p>
        </div>

        <div class="card_post-authorAndTime">
            <p class="author">Diego Fernandes</p>
            <p class="timeReading">6 min</p>
        </div>

    </div>

</section>

<div class="modal-overlay">
    <div class="modal">

        <a class="close-modal">
            <i class="material-icons">close</i>
        </a>

        <a class="maximize-modal">
            <i class="material-icons">fullscreen</i>
        </a>

        <div class="modal-content">
            <iframe src="" frameborder="0"></iframe>
        </div>

    </div>
</div>

<script src="scripts.js"></script>

{% endblock %}

