{% extends "layout.njk" %}

{% block head %}
    <title>Page not-found - Desafio 3-1</title>
{% endblock %}

{% block content %}

<div class="error">
    <p class="number">
        404
    </p>
    <p class="title">
        Oops! Página não encontrada.
    </p>
    <p class="description">
        Desculpe, a página que você está procurando não existe. <br>
        Cheque a URL, e veja se está tudo correto. <br>
        Em todo caso, você pode voltar a página inicial clicando na aba "Sobre".
    </p>
</div>

{% endblock %}